.droneInfoContainer {
  font-weight: bold;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.droneInfo {
  display: flex;
  align-items: center;
}

.droneInfo > * {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.boatIcon {
  margin-right: 10px;
}

.locationMissing {
  color: red;
}
