.fileInputContainer {
  display: flex;
  flex-direction: column;
}
.uploadInput {
  display: none;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
