.sidebar {
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
}

.sidebar::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  background-image: url("../styles/images/hfa.png");
  background-position: bottom 40px left 40px;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -1;
}
